$color-primary: #3498db;
$color-primary-dark: #1d6fa5;

$color-warning: #FF8800;
$color-warning-dark: #b35f00;

$color-danger: #CC0000;
$color-danger-light: #ef9a9a;
$color-danger-light-2: #ffebee;

$color-success: #007E33;
$color-success-light: #c8e6c9;
$color-success-light-2: #f1f8e9;

$color-gray: #7f8c8d;
$color-gray-light: #ecf0f1;