.alert {

    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1.5rem 3rem;
    margin-bottom: 2rem;
    

    &--success {

        background-color: $color-success-light;
        color: $color-success;
        border: solid $color-success-light-2 .2rem;

    }

    &--danger {

        background-color: $color-danger-light;
        color: $color-danger;
        border: solid $color-danger-light-2 .2rem;

    }

}