.alert {

    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1.5rem 3rem;
    margin-bottom: 2rem;
    background-color: #c8e6c9;
    color: #007E33;
    border: solid #f1f8e9 .2rem;

}