.postbox {

    margin: auto;
    color: $color-gray;

    &__container {

        max-width: 120rem;
        margin: 4rem auto;
        border: solid $color-gray .1rem;
        padding: 3rem;

    }

    &__post {

        border: solid $color-gray .1rem;
        padding: 3rem;

        &:not(:last-child) {

            margin-bottom: 2rem;

        }

    }

    &__link {

        font-size: 2rem;
        color: $color-primary;

        &:last-child {

            margin-left: 2rem;
            color: red;

        }

    }

    &__form {

        margin: 2rem auto;
        
    }

    &__form-group {

        width: 100%;
        padding: 1.3rem;
        margin-bottom: 2rem;
        font-family: inherit;
        font-size: 1.4rem;
        color: inherit;
        display: block;

        &:focus {

            outline: none;

        }

    }

    &__btn {

        width: 100%;
        font-family: inherit;
        font-size: 2rem;
        color: #fff;
        padding: 1.5rem;
        border: none;
        transition: all .2s;

        &--primary {

            background-color: $color-primary;

            &:hover {

                background-color: $color-primary-dark;

            }

        }

        &--edit {

            background-color: $color-warning;

            &:hover {

                background-color: $color-warning-dark;

            }

        }

        &--cancel {

            background-color: $color-gray-light;
            color: #000;
            margin-top: 2rem;

            &:hover {

                background-color: $color-gray;

            }

        }

    }

}